* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font: 100% "Montserrat", sans-serif;
}

#landing-page {
  width: 100%;
  height: 85.8vh;
  background-color: #212644;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#main-container {
  background-color: #212644;
  width: 80%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-container img {
  height: 500px;
}

#main-container-right {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  text-align: right;
}
#main-container-right h1 {
  color: white;
  font-size: 5rem;
  padding-bottom: 50px;
}
#main-container-right span {
  background: linear-gradient(90deg, #ff03e2, #ff00bf, #ff2e9f, #ff5285, #ff7072, #ff8a66, #ffa164, #ffb56b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#main-container-right p {
  color: #fff;
  font-size: 2rem;
}

p {
  color: rgba(255, 255, 255, 0.3);
}

#nav-bar {
  background-color: #576be0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 40px;
}
#nav-bar p {
  color: #fff;
  font-size: 3rem;
  padding-left: 5px;
  cursor: pointer;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
}
#nav-bar ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
}
#nav-bar li {
  display: inline-block;
  padding: 0 30px;
}
#nav-bar a {
  color: #fff;
  font-size: 1.2rem;
  transition: 0.2s;
}
#nav-bar a:hover {
  color: #212644;
  font-weight: bold;
}

#cards-section {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#cards-section p {
  color: #212644;
  font-weight: 700;
}
#cards-section .cards-section-title {
  font-size: 72px;
}
#cards-section .cards-section-description {
  font-size: 24px;
}

#cards-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 60%;
  margin-top: 25px;
}
#cards-container .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-basis: 30%;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(128, 128, 128, 0.5);
}
#cards-container .card:hover {
  border: 2px solid #212644;
  box-shadow: 0px 0px 5px -1px #000000;
}
#cards-container .card > * {
  margin: 10px 0;
}
#cards-container .card img {
  width: 48px;
  filter: invert(13%) sepia(7%) saturate(4469%) hue-rotate(194deg) brightness(96%) contrast(92%);
  opacity: 0.8;
}
#cards-container .card .title {
  font-size: 48px;
  font-weight: 700;
}
#cards-container .card .description {
  text-align: center;
}
#cards-container .card .button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #576be0;
  width: 150px;
  height: 40px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-top: 50px;
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
